<ion-header>

  <ion-navbar>
    <!-- if we do not have the data on template creation (before view loading) ? tells angular to wait until it is ready -->
    <ion-title>{{ category.category | uppercase }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let quote of category.quotes; let i = index">
    <ion-card-header>
      #{{ i + 1}}
    </ion-card-header>
    <ion-card-content>
      <p>
        {{ quote.text }}
      </p>
      <p class="author">
        {{ quote.person }}
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col text-right>
        <button ion-button clear small
          (click)="onFavorite(quote)"
          *ngIf="!isFavorite(quote)">Favorite</button>
        <button ion-button clear small color="danger"
          (click)="onUnfavorite(quote)"
          *ngIf="isFavorite(quote)">Unfavorite</button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
